.typedElem {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.underline {
	height: 12rem;
	width: 172rem;
	background-color: var(--primary);
	opacity: 0.4;
	bottom: 25rem;
	transition: all 0.3s;
}

.underline:hover {
	height: 12rem;
	width: 172rem;
	background-color: var(--primary);
	opacity: 0.6;
}

.body-text {
	font-size: 2em;
	font-weight: bold;
	text-align: left;
	/* text-indent: 1.5em; */
	line-height: 1.3cm;
	color: var(--primary);
}

.body-main {
	display: flex;
	align-items: center;
	flex: 1;
	justify-content: space-between;
	bottom: 15px;
	text-align: center;
	margin-top: 2vh;
	margin-left: 7.5vw;
	margin-right: 8vw;
	padding: 25px;
	border: 10px dashed var(--secondary);
	border-radius: 40px;
}

.social {
	margin-top: 2vh;
	margin-bottom: 5vh;
	display: flex;
	justify-content: space-evenly;
}

.chip > span {
	font-weight: bold;
}

.body-elems {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

@media screen and (max-width: 600px) {
	.body-elems {
		flex-direction: column;
	}
	.body-main {
		margin-left: 5vw;
	margin-right: 5vw;
		margin-top: 2vh;
		flex-direction: column-reverse;
	}
	.body-text {
		text-align: justify;
	}
	.social {
		margin-top: -2vh;
		margin-bottom: 5vh;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.chip {
		margin-top: 1em;
	}
}
