@media screen and (max-width: 739px) {
	article {
		width: 100% !important;
	}
}

article {
	transition: all 0.5s cubic-bezier(0.56, 0.19, 0.06, 1.15);
}

article:hover {
	transform: scale(0.94);
}

.card-title {
	font-weight: bold;
}

.project-refs > a {
	text-transform: uppercase;
}
